*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body
{
    background-color:#aea7ab;
}
 .container .left
 {
    float: left;
    position:fixed;
    width: 200px;
    height:100%;
    background-color:#1f151f;
    padding:30px;
 }
 .container .left ul li 
 {
    margin-top:80px;
    padding: 20px;;
    border-radius:30px;
    margin-bottom: 20px;
    background-color:#352b44;
 }
 .container .left .logo img
 {
    margin-left:15px;
    width: 110px;
    height:85px;
    border-radius:20px;
 }
 
 .container .left ul li:link
 {
   color:white;
 }

 .container .left ul li a:visited
 {
   color:white;
 }

 .container .left ul li:hover
 {
    background-color:#d494c588;
    transition: .3s;
 }
 .container .left ul li:visited
 {
   color:white;
 }
 .container .left ul li:link
 {
   color:white;
 }
 .navbar
 {
   background-color: #1f151f;
   float:right;
   position:fixed;
   height:26px;
   width:100%;
 }
 #link
 {
   color:white;
   margin-left:15px;
   padding:10px;
   float:left;
   margin-top:-5px;
 }
 #ins
 {
   color:white;
   width: 10px;
   height: 10px;
   margin-left:50%;
   padding:10px;
   float:left;
   margin-top:-5px;
 }

 .home pre h2
{
    top:30%;
    left:10%;
    text-align:left;
    position: absolute;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    padding:10px;
}
.home pre h2 mark
{
  background-color:yellow;
}

.home p img
{
  display: block;
  width:700px;
  height:400px;
  float:right;
  margin-top:120px;
  margin-right: 50px;
  padding:40px;
  border-radius: 20px;
  background-color:rgb(53, 53, 53);
}
.home h3
{
   background-color:#1f151f;
   margin-top:700px;
   position: absolute;
   margin-left:200px;
   height:22px;
   width:1319px;
   text-align: center;
   color:white;
   font-size:15px;

}

#compt
{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding:14px;
   background-color:black;
   color:white;
   border-radius:10px;
   margin:300px;
   margin-top:340px;
   height:60px;
   width:380px;
   margin-left:250px;
   text-align: center;

}